/*body下整个大块*/
* {
    margin: 0;
    padding: 0;
}

#bigBox {
    width: 99%;
    margin: 0 auto;
}

/*左边菜单*/
#leftMenu {
    float: left;
    width: 10%;
}

/*右边主要内容*/
#rightContent {
    float: left;
    width: 90%;
}

/*右边主要内容的头部区域*/
#headerContent {
    margin: 0 auto;
    width: 450px;
    padding-left: 200px;
}

#headerContent h1 {
    margin: 0;
    padding: 0;
}

/*右边内容的区域*/
#centerContent,#rightmostContent {
    height: 80vh;
    overflow-y: auto;
    width: 49%;
    display: inline-block;
}

#rightmostContent::-webkit-scrollbar,#centerContent::-webkit-scrollbar { /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

#rightmostContent::-webkit-scrollbar,#centerContent::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

#rightmostContent::-webkit-scrollbar,#centerContent::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

